/* LAYOUT */
@import "./sass/functions.scss";

.html {
  background: var(--c-primary-background);
}

.body {
  margin: 0 auto;
  margin-top: 16px;
  max-width: 1600px;
}

.main {
  background: var(--c-white-default);
  display: flex;
  flex-direction: column;
  row-gap: pxToRem(48);
  padding-bottom: pxToRem(48);
}



@media (min-width: 800px) {
  .body {
    margin-top: 0;
  }
  .main {
    row-gap: pxToRem(80);
    padding-bottom: pxToRem(80);

  }
}
