@import "../sass/functions.scss";
@import "../sass/mixins";

.bigCardSection {
    display: flex;
    justify-content: center;
    @include ignoreGutter;
}

.bigCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.imgSection {
    min-height: pxToRem(379);
    position: relative;
}

.image {
    object-position: center;
    object-fit: cover;
}

.infoSection {
    padding-block: var(--card-big-v-padding);
    padding-inline: var(--card-big-h-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--c-primary-background);
    row-gap: 16px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.typeTitle {
    font-size: pxToRem(16);
    font-weight: 400;
    color: var(--c-primary-caption);
    line-height: pxToRem(24);
}

.nameTitle {
    font-size: pxToRem(24);
    font-weight: 500;
    color: var(--c-primary-title);
    line-height: pxToRem(32);
}

@media (min-width: 800px) {

    .bigCard {

        flex-direction: row;
        justify-content: center;
        width: 100%;
        // max-height: pxToRem(704);
        // padding-inline: var(--main-gutter);
        margin-inline: 0;
    }

    .infoSection {
        box-sizing: border-box;
        justify-content: center;
        align-items: flex-start;
        flex: 1 1 100%;
        min-width: 50%;

        row-gap: pxToRem(32);
    }

    .imgSection {
        flex: 1 1 100%;
        min-width: 50%;
        height: pxToRem(704);
        background-position: right;
    }

  

    .typeTitle {
        font-size: pxToRem(18);
        line-height: pxToRem(32);
    }

    .nameTitle {
        font-size: pxToRem(40);
        line-height: pxToRem(48);
    }
}

// @media (min-width: 470px) and (max-width: 649px) {
//     .imgSection {
//         min-height: pxToRem(470);
//     }
// }
@media (min-width: 600px) and (max-width: 799px) {
    .bigCard {
        flex-direction: row;
        justify-content: flex-start;
        margin-inline: 0;

    }
    .imgSection {
        width: 50%;
    }
    .infoSection {
        width: 50%;
        box-sizing: border-box;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .infoSection {
    }
    .nameTitle {
        font-size: pxToRem(28);
        line-height: pxToRem(32);
    }
    .imgSection {
        min-height: pxToRem(600);
    }
}

@media (min-width: 1157px) {
    .bigCardSection {
        margin-inline: unset;
    }
}
