@import "../sass/functions.scss";

.footer {
    box-sizing: border-box;
    min-height: pxToRem(208);
    padding-block: var(--footer-v-padding);
    background: var(--c-primary-background);
    display: flex;
}

.footerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: block;
    margin-block: 4px;
}

.copyrightText {
    font-size: pxToRem(14);
    font-weight: 400;
    color: var(--c-primary-caption);
    margin: 0;
}

@media (min-width: 800px) {
    .footer {
        min-height: pxToRem(312);
        justify-content: center;
        align-items: flex-end;
        padding: var(--footer-v-padding) 0;
    }
    .footerContent {
        row-gap: pxToRem(70);

    }
}
    