@import "../sass/functions.scss";

.button {
    background: var(--c-secondary-default);
    color: var(--c-white-default);
    font-size: var(--button-text);
    font-weight: 500;
    padding: var(--button-v-padding) var(--button-h-padding);
    border: none;
    transition: 100ms;

    &:hover {
        box-shadow: 0px 2px 40px rgba(42, 42, 42, 0.1);
        transition: 100ms;
    }
    &:active {
        background: var(--c-secondary-darker);
        transition: 100ms;
    }
}

@media (min-width: 800px) {
    .button {
        width: pxToRem(190);
        line-height: pxToRem(32);
    }
}